## CSL_NearMiss 
Create "MomNearMiss" field by combining "Momdeath" and "MomICU" and moving in the front.
Save datafile for future use.

In [1]:
import sys
import pandas as pd
import util_mwb
print(sys.version)
print(pd.__version__) # Must be 0.24.1 for IntegerArray

3.7.5 (default, Oct 25 2019, 15:51:11)
[GCC 7.3.0]
0.25.2

In [2]:
%%time
csl_lr = util_mwb.read_csl_csv('../data/csl/MFM_data1.csv')

CPU times: user 57.4 s, sys: 946 ms, total: 58.4 s
Wall time: 58.6 s

In [5]:
pd.options.display.max_columns = 20
csl_lr

,MomID,Sitenum,Activeherpes,Alcohol,Anteabruption,Anteanemia,Anteasthma,Antebleed3,AnteCHBP,Antechorio,...,pulmonary_embolism9,renal_disease9,renal_disease_comb,spontlabor,threat_new,threatpb9,uscar,version9,vertex,vertex_new
1,b'41-00001',b'41',1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,b'41-00001',b'41',1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,b'41-00002',b'41',1,1,1,2,1,1,1,1,...,1,1,1,2,1,1,2,1,9,9
4,b'41-00003',b'41',1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
5,b'41-00004',b'41',1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228434,b'52-07247',b'52',1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
228435,b'52-07248',b'52',1,1,2,1,1,1,2,1,...,1,1,1,1,1,1,2,1,0,0
228436,b'52-07249',b'52',1,1,2,1,1,1,1,1,...,1,1,1,1,1,1,2,1,9,9
228437,b'52-07250',b'52',1,1,1,1,1,1,1,1,...,1,1,1,2,1,1,1,1,1,1
228438,b'52-07251',b'52',1,1,1,1,1,1,2,1,...,1,1,1,1,1,1,1,1,1,1

In [6]:
print(csl_lr['Momdeath'].value_counts())
print(csl_lr['MomICU'].value_counts())
csl_lr.loc[csl_lr['Momdeath'] == 2]

1    228422
2        16
Name: Momdeath, dtype: int64
1    227435
2      1003
Name: MomICU, dtype: int64

,MomID,Sitenum,Activeherpes,Alcohol,Anteabruption,Anteanemia,Anteasthma,Antebleed3,AnteCHBP,Antechorio,...,pulmonary_embolism9,renal_disease9,renal_disease_comb,spontlabor,threat_new,threatpb9,uscar,version9,vertex,vertex_new
17306,b'41-16141',b'41',1,1,1,2,1,1,1,1,...,2,1,1,1,1,1,1,1,1,1
38820,b'41-36210',b'41',1,1,1,2,1,1,1,1,...,1,1,2,1,1,1,1,1,9,9
68146,b'43-10124',b'43',1,1,1,1,1,1,2,1,...,1,1,1,1,1,1,1,1,1,1
80724,b'44-09498',b'44',1,1,1,1,1,1,2,1,...,1,1,1,1,1,1,1,1,1,1
81009,b'44-09732',b'44',1,1,1,1,1,1,1,1,...,1,1,1,2,1,1,1,1,0,0
86690,b'44-14440',b'44',1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
87652,b'44-15289',b'44',1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,2,1,1,1
91703,b'44-19134',b'44',1,1,2,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
92434,b'44-19859',b'44',1,1,1,1,1,1,1,1,...,1,1,1,2,1,1,1,1,1,1
92473,b'44-19897',b'44',1,1,1,2,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
105867,b'45-10368',b'45',1,1,1,1,1,1,1,1,...,1,1,1,2,1,1,1,1,1,0
107007,b'45-11339',b'45',1,1,1,1,1,1,1,1,...,1,1,1,2,1,1,1,1,1,1
179673,b'49-24618',b'49',1,1,1,2,1,1,1,1,...,1,1,1,2,1,1,1,1,1,1
181405,b'49-26247',b'49',1,1,1,1,1,1,1,1,...,1,1,1,2,1,1,1,1,1,1
198034,b'50-13090',b'50',1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,2,1,1,1
222658,b'52-01843',b'52',1,1,1,1,1,1,1,1,...,1,1,1,2,1,1,1,1,9,9

In [7]:
# Calculate 'MomNearMiss' by merging 'Momdeath' and 'MomICU'
csl_lr.loc[(csl_lr['Momdeath'] == 2) | (csl_lr['MomICU'] == 2 ), 'MomNearMiss'] = 2
csl_lr['MomNearMiss'].fillna(1, inplace=True)
csl_lr['MomNearMiss'] = csl_lr['MomNearMiss'].astype('Int8')
csl_lr.shape

(228438, 244)

In [8]:
csl_lr['MomNearMiss'].value_counts()

1    227428
2      1010
Name: MomNearMiss, dtype: int64

In [9]:
col_list = list(csl_lr.columns)
new_list = [x for x in col_list if x not in ['MomNearMiss', 'Momdeath', 'MomICU']]
new_list.insert(2, 'MomICU')
new_list.insert(2, 'Momdeath')
new_list.insert(2, 'MomNearMiss')
df = csl_lr[new_list]

In [10]:
len(new_list)

244

In [11]:
print(df.shape)
df.head()

(228438, 244)

,MomID,Sitenum,MomNearMiss,Momdeath,MomICU,Activeherpes,Alcohol,Anteabruption,Anteanemia,Anteasthma,...,pulmonary_embolism9,renal_disease9,renal_disease_comb,spontlabor,threat_new,threatpb9,uscar,version9,vertex,vertex_new
1,b'41-00001',b'41',1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,b'41-00001',b'41',1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,b'41-00002',b'41',1,1,1,1,1,1,2,1,...,1,1,1,2,1,1,2,1,9,9
4,b'41-00003',b'41',1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
5,b'41-00004',b'41',1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [12]:
df.iloc[:,0].dtype

dtype('O')

In [13]:
import numpy as np
df.loc[:, df.dtypes == np.object]

              MomID Sitenum
1       b'41-00001'   b'41'
2       b'41-00001'   b'41'
3       b'41-00002'   b'41'
4       b'41-00003'   b'41'
5       b'41-00004'   b'41'
...             ...     ...
228434  b'52-07247'   b'52'
228435  b'52-07248'   b'52'
228436  b'52-07249'   b'52'
228437  b'52-07250'   b'52'
228438  b'52-07251'   b'52'

[228438 rows x 2 columns]

In [14]:
# Removed extraneous characters from strings; had to use .loc[row, col] to avoid warning
df.loc[:,'MomID'] = df['MomID'].str.replace('b','')
df.loc[:,'MomID'] = df['MomID'].str.replace("'","")
df.loc[:,'Sitenum'] = df['Sitenum'].str.replace('b','')
df.loc[:,'Sitenum'] = df['Sitenum'].str.replace("'","")
df.head()

,MomID,Sitenum,MomNearMiss,Momdeath,MomICU,Activeherpes,Alcohol,Anteabruption,Anteanemia,Anteasthma,...,pulmonary_embolism9,renal_disease9,renal_disease_comb,spontlabor,threat_new,threatpb9,uscar,version9,vertex,vertex_new
1,41-00001,41,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,41-00001,41,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,41-00002,41,1,1,1,1,1,1,2,1,...,1,1,1,2,1,1,2,1,9,9
4,41-00003,41,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
5,41-00004,41,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [15]:
df.to_csv('../data/csl/CSL_NearMiss.csv')

In [23]:
for col in df:
    print(df[col].value_counts(dropna=False))

45-01637    5
44-10006    4
44-07250    4
43-03277    4
44-12427    4
           ..
41-46631    1
44-18872    1
44-07337    1
48-01381    1
41-11768    1
Name: MomID, Length: 208695, dtype: int64
41    50320
49    27869
44    23141
50    20779
45    20329
51    18392
48    18258
47    14667
43    12637
46     7877
52     7749
42     6420
Name: Sitenum, dtype: int64
1      227428
2        1010
NaN         0
Name: MomNearMiss, dtype: int64
1      228422
2          16
NaN         0
Name: Momdeath, dtype: int64
1      227435
2        1003
NaN         0
Name: MomICU, dtype: int64
1      227303
2        1135
NaN         0
Name: Activeherpes, dtype: int64
1      224258
2        4180
NaN         0
Name: Alcohol, dtype: int64
1      226342
2        2096
NaN         0
Name: Anteabruption, dtype: int64
1      217771
2       10667
NaN         0
Name: Anteanemia, dtype: int64
1      219311
2        9127
NaN         0
Name: Anteasthma, dtype: int64
1      225350
2        3088
NaN         0
Name: Antebleed3, dtype: int64
1      225411
2        3027
NaN         0
Name: AnteCHBP, dtype: int64
1      226911
2        1527
NaN         0
Name: Antechorio, dtype: int64
1      227293
2        1145
NaN         0
Name: Antefetaldth, dtype: int64
1      216760
2       11678
NaN         0
Name: Antefetdistress, dtype: int64
1      188231
2       40207
NaN         0
Name: AnteGBS, dtype: int64
1      220715
2        7723
NaN         0
Name: AnteGDM, dtype: int64
1      210938
2       17500
NaN         0
Name: Antehospital, dtype: int64
1      226407
2        2031
NaN         0
Name: AnteLGA, dtype: int64
1      227128
2        1310
NaN         0
Name: Anteprevia, dtype: int64
1      225760
2        2678
NaN         0
Name: AnteSGA, dtype: int64
1      220534
2        7904
NaN         0
Name: AnteSTD, dtype: int64
1      222493
2        5945
NaN         0
Name: Antesteroid, dtype: int64
1      227973
2         465
NaN         0
Name: Antethrombo, dtype: int64
1      224734
2        3704
NaN         0
Name: Antethyroid, dtype: int64
1      221207
2        7231
NaN         0
Name: AnteUTI, dtype: int64
1      227337
2        1101
NaN         0
Name: ART, dtype: int64
1      227503
2         935
NaN         0
Name: Cerclage, dtype: int64
1      222310
2        6128
NaN         0
Name: ChronicHBP, dtype: int64
1      228040
2         398
NaN         0
Name: CPD, dtype: int64
1      223661
2        4777
NaN         0
Name: Diabetes, dtype: int64
8      126493
7       97093
3        2577
1        1732
2         354
4         189
NaN         0
Name: DMControl, dtype: int64
1      224163
2        4275
NaN         0
Name: Druguse, dtype: int64
1      228253
2         185
NaN         0
Name: Eclampsia, dtype: int64
1      227796
2         642
NaN         0
Name: ECV, dtype: int64
8      156601
3       35347
2       22066
1       14424
NaN         0
Name: Education, dtype: int64
1      223043
2        5395
NaN         0
Name: GestHBP, dtype: int64
1      227536
2         902
NaN         0
Name: HIV, dtype: int64
1      210404
2       18034
NaN         0
Name: Hxanemia, dtype: int64
1      213044
2       15394
NaN         0
Name: Hxasthma, dtype: int64
1      197109
2       31329
NaN         0
Name: Hxcsection, dtype: int64
1      219999
2        8439
NaN         0
Name: Hxdepression, dtype: int64
1      226113
2        2325
NaN         0
Name: HxGIdis, dtype: int64
1      226828
2        1610
NaN         0
Name: Hxheartdis, dtype: int64
1      223736
2        4702
NaN         0
Name: Hxmacrosomia, dtype: int64
0      199304
1       19586
2        4912
88       3281
3        1105
4         190
5          51
6           7
7           1
10          1
NaN         0
Name: HxnumCS, dtype: int64
1      211421
2       17017
NaN         0
Name: Hxpreterm, dtype: int64
1      226778
2        1660
NaN         0
Name: Hxrenaldis, dtype: int64
1      226910
2        1528
NaN         0
Name: Hxseizure, dtype: int64
1      219409
2        9029
NaN         0
Name: HxSTD, dtype: int64
1      226464
2        1974
NaN         0
Name: Hxstillbirth, dtype: int64
1      224254
2        4184
NaN         0
Name: Hxthyroid, dtype: int64
1      226179
2        2259
NaN         0
Name: ImposedPE, dtype: int64
1      227529
2         909
NaN         0
Name: Incompetence, dtype: int64
1      128033
2       73640
8       23722
3        2719
7         324
NaN         0
Name: Insurance, dtype: int64
1      134446
3       82935
8        7451
2        3606
NaN         0
Name: Marital, dtype: int64
1      113224
2       51392
3       39716
7       14417
4        9345
5         344
NaN         0
Name: momrace_new, dtype: int64
1      223385
2        4840
3         191
4          22
NaN         0
Name: Numfetus, dtype: int64
1      223011
2        5427
NaN         0
Name: Oligo, dtype: int64
0      91271
1      69830
2      37349
3      16852
4       6930
5       3114
6       1436
7        804
8        379
9        215
10       132
11        74
12        33
13        13
14         3
15         2
39         1
NaN        0
Name: Parity, dtype: int64
1      227553
2         885
NaN         0
Name: Polyhydramnios, dtype: int64
1      220589
2        7849
NaN         0
Name: Preeclampsia, dtype: int64
1      215026
2       13412
NaN         0
Name: PROM, dtype: int64
1      227373
2        1065
NaN         0
Name: Rhincompat, dtype: int64
1      213191
2       15247
NaN         0
Name: Smoke, dtype: int64
1      220805
2        7633
NaN         0
Name: ThreatenedPB, dtype: int64
1      228396
2          42
NaN         0
Name: TTTwin, dtype: int64
1    220805
2      7633
Name: ThreatenedPB.1, dtype: int64
1    228396
2        42
Name: TTTwin.1, dtype: int64
1      227513
2         925
NaN         0
Name: UnspecHBP, dtype: int64
1      223046
2        5392
NaN         0
Name: Posttransfus, dtype: int64
1      226729
2        1709
NaN         0
Name: Bloodproduct, dtype: int64
4      62384
3      55246
1      48148
8      24178
6      19967
5       9459
2       9056
NaN        0
Name: Admreason, dtype: int64
8      134292
2       42828
3       27825
1       23493
NaN         0
Name: Admcervpos, dtype: int64
8      132575
3       70851
2       21687
1        3325
NaN         0
Name: Admconsistency, dtype: int64
8      150074
2       40933
3       27535
4        9787
1         109
NaN         0
Name: GAmethod, dtype: int64
1      117913
77     107238
2        2387
12        568
11        109
3         103
8          27
5          20
9          19
4          17
6          14
10         13
7           9
13          1
NaN         0
Name: Admpresent, dtype: int64
1      219998
2        8440
NaN         0
Name: CS_Breech, dtype: int64
1      228036
2         402
NaN         0
Name: CS_Chorio, dtype: int64
1      219888
2        8550
NaN         0
Name: CS_Elect, dtype: int64
1      228188
2         250
NaN         0
Name: CS_Emerg, dtype: int64
1      228392
2          46
NaN         0
Name: CS_FVBAC, dtype: int64
1      227747
2         691
NaN         0
Name: CS_Finduct, dtype: int64
1      228321
2         117
NaN         0
Name: CS_Fforceps, dtype: int64
1      213805
2       14633
NaN         0
Name: CS_FTP, dtype: int64
1      227351
2        1087
NaN         0
Name: CS_Fetanom, dtype: int64
1      227118
2        1320
NaN         0
Name: CS_Fetmac, dtype: int64
1      217833
2       10605
NaN         0
Name: CS_NRFHT, dtype: int64
1      227964
2         474
NaN         0
Name: CS_HIV, dtype: int64
1      228403
2          35
NaN         0
Name: CS_HxShoulder, dtype: int64
1      226710
2        1728
NaN         0
Name: CS_HTNdis, dtype: int64
1      226535
2        1903
NaN         0
Name: CS_Mult, dtype: int64
1      222397
2        6041
NaN         0
Name: CS_Other, dtype: int64
1      227986
2         452
NaN         0
Name: CS_Pabrupt, dtype: int64
1      227713
2         725
NaN         0
Name: CS_Pprevia, dtype: int64
1      207803
2       20635
NaN         0
Name: CS_UScar, dtype: int64
1      228421
2          17
NaN         0
Name: CS_Shoulder, dtype: int64
1      228418
2          20
NaN         0
Name: Hyp_ace, dtype: int64
1      228436
2           2
NaN         0
Name: Hyp_alpha, dtype: int64
1      224787
2        3651
NaN         0
Name: Hyp_any, dtype: int64
1      226680
2        1758
NaN         0
Name: Hyp_beta, dtype: int64
1      227433
2        1005
NaN         0
Name: Hyp_calc, dtype: int64
1      228429
2           9
NaN         0
Name: Hyp_clon, dtype: int64
1      228378
2          60
NaN         0
Name: Hyp_diur, dtype: int64
1      227941
2         497
NaN         0
Name: Hyp_hydr, dtype: int64
1      228076
2         362
NaN         0
Name: Hyp_meth, dtype: int64
1      228435
2           3
NaN         0
Name: Hyp_othr, dtype: int64
1      228336
2         102
NaN         0
Name: Ind_Chorio, dtype: int64
1      210756
2       17682
NaN         0
Name: Ind_elect, dtype: int64
1      228204
2         234
NaN         0
Name: Ind_anomaly, dtype: int64
1      222489
2        5949
NaN         0
Name: Ind_FComp, dtype: int64
1      228250
2         188
NaN         0
Name: Ind_HxMat, dtype: int64
1      222090
2        6348
NaN         0
Name: Ind_Mcond, dtype: int64
1      223169
2        5269
NaN         0
Name: Ind_HTN, dtype: int64
1      220019
2        8419
NaN         0
Name: Ind_Postdate, dtype: int64
1      226474
2        1964
NaN         0
Name: Ind_PROM, dtype: int64
1      228196
2         242
NaN         0
Name: Ind_Hxfetal, dtype: int64
1      228018
2         420
NaN         0
Name: Ind_Still, dtype: int64
1      227877
2         561
NaN         0
Name: Ind_Fmacro, dtype: int64
1      197822
2       30616
NaN         0
Name: Ind_Unkn, dtype: int64
1      228358
2          80
NaN         0
Name: Ind_Vbleed, dtype: int64
1      206023
2       22415
NaN         0
Name: MthInd_AROM, dtype: int64
1      223132
2        5306
NaN         0
Name: MthInd_Miso, dtype: int64
1      224964
2        3474
NaN         0
Name: MthInd_Mec, dtype: int64

1      224102
2        4336
NaN         0
Name: MthInd_PGE2, dtype: int64
1      182671
2       45767
NaN         0
Name: MthInd_Oxy, dtype: int64
1      204655
2       23783
NaN         0
Name: AB_peni, dtype: int64
1      223509
2        4929
NaN         0
Name: AB_ceph, dtype: int64
1      224460
2        3978
NaN         0
Name: AB_clind, dtype: int64
1      228425
2          13
NaN         0
Name: AB_doxy, dtype: int64
1      226250
2        2188
NaN         0
Name: AB_eryth, dtype: int64
1      228302
2         136
NaN         0
Name: AB_flagyl, dtype: int64
1      224668
2        3770
NaN         0
Name: AB_gent, dtype: int64
1      228097
2         341
NaN         0
Name: AB_vanc, dtype: int64
1      191184
2       37254
NaN         0
Name: AB_any, dtype: int64
1      226931
2        1507
NaN         0
Name: Intraabrupt, dtype: int64
1      227926
2         512
NaN         0
Name: Prolapse, dtype: int64
1      187516
2       40922
NaN         0
Name: FSE, dtype: int64
1      217299
2       11139
NaN         0
Name: Intrafever, dtype: int64
1      228282
2         156
NaN         0
Name: Hysterectomy, dtype: int64
1      191190
2       37248
NaN         0
Name: IUPC, dtype: int64
1      216639
2       11799
NaN         0
Name: Intrafetdistress, dtype: int64
1      146859
2       77854
8        3725
NaN         0
Name: Induction, dtype: int64
1      205450
2       11848
3        5513
4        4444
5        1183
NaN         0
Name: Meconium, dtype: int64
1      146073
4       39577
5       26413
2       10698
3        5677
NaN         0
Name: Delmode, dtype: int64
1      228300
2         138
NaN         0
Name: Accrete, dtype: int64
1      228006
2         432
NaN         0
Name: Previa, dtype: int64
1      225841
2        2597
NaN         0
Name: Shoulder, dtype: int64
1      217450
2       10988
NaN         0
Name: Ligation, dtype: int64
1      219675
2        8763
NaN         0
Name: IntraMgSO, dtype: int64
1      228228
2         210
NaN         0
Name: Momseizure, dtype: int64
1      228376
2          62
NaN         0
Name: Dehiscence, dtype: int64
1      228358
2          80
NaN         0
Name: Urupture, dtype: int64
1      223833
2        4605
NaN         0
Name: Intrachorio, dtype: int64
1      227659
2         779
NaN         0
Name: Lac_Cerv, dtype: int64
1      224333
2        4105
NaN         0
Name: Lac_Majperi, dtype: int64
1      160636
2       67802
NaN         0
Name: Lac_Min, dtype: int64
2      126804
1      101634
NaN         0
Name: Lac_None, dtype: int64
1      228159
2         279
NaN         0
Name: Lac_Other, dtype: int64
1      222027
2        6411
NaN         0
Name: Lac_Majoth, dtype: int64
1      205188
2       23250
NaN         0
Name: Lac_Unkn, dtype: int64
1    223046
2      5392
Name: Posttransfus.1, dtype: int64
1      227832
2         606
NaN         0
Name: Endometritis, dtype: int64
1      223424
2        5014
NaN         0
Name: Postfever, dtype: int64
1      225884
2        2554
NaN         0
Name: PostHBP, dtype: int64
1      225754
2        2684
NaN         0
Name: Postbleed, dtype: int64
1      228322
2         116
NaN         0
Name: Ileus, dtype: int64
1      228366
2          72
NaN         0
Name: Postpulembol, dtype: int64
1      228328
2         110
NaN         0
Name: Postthrombosis, dtype: int64
1      227748
2         690
NaN         0
Name: Woundinf, dtype: int64
1      228314
2         124
NaN         0
Name: Woundsep, dtype: int64
2      199687
1       28751
NaN         0
Name: HosMFM, dtype: int64
3      199171
2       23178
0        6089
NaN         0
Name: HosNICUlevel, dtype: int64
2      228438
NaN         0
Name: HosOBcover, dtype: int64
2      228438
NaN         0
Name: Hosanesthesia, dtype: int64
2      228438
NaN         0
Name: Hosdoula, dtype: int64
3      206920
2       21518
NaN         0
Name: Hoslevel, dtype: int64
2      170637
1       57801
NaN         0
Name: Hosmidwife, dtype: int64
2      211732
1       16706
NaN         0
Name: Hosneonatologist, dtype: int64
3      128516
1       79593
2       20329
NaN         0
Name: Hospitalist, dtype: int64
1      225927
2        2511
NaN         0
Name: GI_disease_comb, dtype: int64
1      225089
2        3349
NaN         0
Name: Heart_disease_comb, dtype: int64
1      220981
2        7457
NaN         0
Name: M_pre, dtype: int64
0      218008
1       10430
NaN         0
Name: Malpresentation9, dtype: int64
1      222763
2        5675
NaN         0
Name: PPROM_new, dtype: int64
1      212219
2       16219
NaN         0
Name: PROM_new, dtype: int64
1      228296
2         142
NaN         0
Name: Pulmemb_new, dtype: int64
1      219126
2        9312
NaN         0
Name: ROM, dtype: int64
1      226467
2        1971
NaN         0
Name: SE_pre, dtype: int64
1      224666
2        3772
NaN         0
Name: S_pre, dtype: int64
1      225794
2        2644
NaN         0
Name: TD_nos, dtype: int64
0      225712
1        2726
NaN         0
Name: abruptio9, dtype: int64
1      225643
2        2795
NaN         0
Name: abruption, dtype: int64
1      224644
2        3794
NaN         0
Name: abruption_new, dtype: int64
1      218020
2       10418
NaN         0
Name: breech, dtype: int64
0      221402
1        7036
NaN         0
Name: breech9, dtype: int64
1      216791
2       11647
NaN         0
Name: breech_new, dtype: int64
1      222968
2        5470
NaN         0
Name: chorio, dtype: int64
0      223916
1        4522
NaN         0
Name: chorio9, dtype: int64
1      221274
2        7164
NaN         0
Name: chorio_new, dtype: int64
1      228418
2          20
NaN         0
Name: death_new, dtype: int64
1      162448
5       65990
NaN         0
Name: delivery, dtype: int64
NaN    224884
1        3554
Name: depression9, dtype: int64
1      218847
2        9591
NaN         0
Name: depression_comb, dtype: int64
1      228184
2         254
NaN         0
Name: eclamp, dtype: int64
0      226603
1        1835
NaN         0
Name: fever9, dtype: int64
1      222136
2        6302
NaN         0
Name: fever_new, dtype: int64
1      216717
2       11721
NaN         0
Name: gest_diab, dtype: int64
1      222152
2        6286
NaN         0
Name: gest_htn, dtype: int64
1      228066
2         372
NaN         0
Name: gi_disease9, dtype: int64
NaN    226205
1        2233
Name: heart_disease9, dtype: int64
1      217053
2       11385
NaN         0
Name: hemorrhage, dtype: int64
1      213140
2       15298
NaN         0
Name: hemorrhage_new, dtype: int64
1      228000
2         438
NaN         0
Name: hypertyro, dtype: int64
1      228258
2         180
NaN         0
Name: iatro_hypo, dtype: int64
1      150467
2       77971
NaN         0
Name: induction_new, dtype: int64
0      228434
1           4
NaN         0
Name: maternal_death9, dtype: int64
1      210948
2       17490
NaN         0
Name: new_asthma, dtype: int64
1      218588
2        9850
NaN         0
Name: new_depression, dtype: int64
1      225846
2        2592
NaN         0
Name: new_gidis, dtype: int64
1      224957
2        3481
NaN         0
Name: new_heartdis, dtype: int64
1      223963
2        4475
NaN         0
Name: new_htn, dtype: int64
1      225026
2        3412
NaN         0
Name: new_prediab, dtype: int64
1      226582
2        1856
NaN         0
Name: new_renal, dtype: int64
2      221583
1        6855
NaN         0
Name: no_TD, dtype: int64
1      228161
2         277
NaN         0
Name: other_TD, dtype: int64
0      222160
1        6278
NaN         0
Name: postpartum_hemorrhage9, dtype: int64
1      225091
2        3347
NaN         0
Name: pre_diab, dtype: int64
1      200644
2       27794
NaN         0
Name: prelaborCD, dtype: int64
1      227235
2        1203
NaN         0
Name: previa9, dtype: int64
1      227103
2        1335
NaN         0
Name: previa_chart, dtype: int64
1      226791
2        1647
NaN         0
Name: previa_new, dtype: int64
1      225122
2        3316
NaN         0
Name: prim_hypo, dtype: int64
1      218522
2        9916
NaN         0
Name: prom9, dtype: int64
1      228332
2         106
NaN         0
Name: pulmonary_embolism9, dtype: int64
1      228367
2          71
NaN         0
Name: renal_disease9, dtype: int64
1      226734
2        1704
NaN         0
Name: renal_disease_comb, dtype: int64
2      122673
1      105765
NaN         0
Name: spontlabor, dtype: int64
1      220558
2        7880
NaN         0
Name: threat_new, dtype: int64
1      227957
2         481
NaN         0
Name: threatpb9, dtype: int64
1      195682
2       32756
NaN         0
Name: uscar, dtype: int64
1      228096
2         342
NaN         0
Name: version9, dtype: int64
1      202396
9       16209
0        9833
NaN         0
Name: vertex, dtype: int64
1      195216
0       17714
9       15508
NaN         0
Name: vertex_new, dtype: int64

In [16]:
for col in df:
    if df[col].isnull().sum() > 0:
        print(col)

depression9
heart_disease9

In [31]:
preg_df.shape

(10, 780)

In [53]:
colnames = preg_df.columns.to_list()
#lower_list = [item.lower() for item in colnames]
#for item in lower_list:
for item in colnames:
    if item.find('weight') >= 0:
        print(f'{item}')

Preweight
Admweight
CSLweight
Birthweight1
Birthweight2
Birthweight3
Birthweight4

In [28]:
df.shape

(228438, 244)

In [29]:
df.head()

,MomID,Sitenum,MomNearMiss,Momdeath,MomICU,Activeherpes,Alcohol,Anteabruption,Anteanemia,Anteasthma,...,pulmonary_embolism9,renal_disease9,renal_disease_comb,spontlabor,threat_new,threatpb9,uscar,version9,vertex,vertex_new
1,41-00001,41,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,41-00001,41,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,41-00002,41,1,1,1,1,1,1,2,1,...,1,1,1,2,1,1,2,1,9,9
4,41-00003,41,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
5,41-00004,41,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1