In [1]:
import pandas as pd
import numpy as np
import os
from util_mwb import convert_integer

In [2]:
%matplotlib inline
%config Completer.use_jedi = False
pd.options.display.float_format = '{:,.2f}'.format
pd.options.display.max_rows = 30
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
pd.options.display.max_columns = 30
# Note: Name currently assumes updated symbolic link
os.chdir('/MFMDatasets/MFM_bopf/data/csl')
tytl_PI = pd.read_csv('CSL_tytl_PI.csv', index_col=0)
tytl_PI

,transfus_yes,trans_loss,Accrete,AdmBishop,Admcervpos,Admconsistency,Admcontract,AdmDBP,Admefface,Admpresent,AdmSBP,Analgesia,Augment,BESTGA,breech,...,renal_disease_comb,renal_disease9,Rhincompat,Smoke,TD_nos,ThreatenedPB,threatpb9,UnspecHBP,uscar,version9,new_age,new_BMI,new_high_Age,new_high_BMI,Sitenum
MomID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
41-00002,0,0,0,8,8,8,99.00,83,0.00,77,150.00,7,1,38.20,0,...,0,0,0,0,0,0,0,0,1,0,37,33,1,1,41
41-00003,0,0,0,6,3,2,2.90,77,70.00,1,105.00,8,88,39.00,0,...,0,0,0,0,0,0,0,0,0,0,36,22,1,1,41
41-00004,0,0,0,5,3,2,3.30,65,70.00,1,122.00,8,88,39.10,0,...,0,0,0,0,0,0,0,0,0,0,34,31,1,1,41
41-00005,1,1,0,11,2,3,4.00,77,80.00,77,138.00,8,88,38.40,0,...,0,0,0,0,0,0,0,0,0,0,31,21,1,1,41
41-00006,0,0,0,11,1,3,5.00,98,100.00,77,134.00,8,88,39.60,0,...,0,0,0,0,0,0,0,0,0,0,21,22,1,1,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52-07247,0,0,0,8,8,8,77.00,74,70.00,1,124.40,5,4,37.10,0,...,0,0,0,0,0,0,0,0,0,0,19,38,0,1,52
52-07248,0,0,0,8,8,8,99.00,74,0.00,2,124.40,5,0,24.60,1,...,0,0,0,0,0,0,0,0,1,0,34,24,1,1,52
52-07249,1,1,0,8,8,8,66.00,74,0.00,77,124.40,9,0,28.70,0,...,0,0,0,0,0,0,0,0,1,0,28,23,1,1,52
52-07250,0,0,0,8,8,8,66.00,74,90.00,1,124.40,5,0,37.40,0,...,0,0,0,0,0,0,0,0,0,0,16,23,0,1,52
52-07251,0,0,0,8,8,8,66.00,74,100.00,1,124.40,5,0,27.90,0,...,0,0,0,0,0,0,0,0,0,0,44,29,2,1,52

In [4]:
csl_types = np.load('/MFMDatasets/MFM_bopf/data/csl/MFM_linked-by-preg_typedict.npy', allow_pickle='TRUE').item()
%time csl_df = pd.read_csv('/MFMDatasets/MFM_bopf/data/csl/MFM_linked-by-preg_Int8.csv', index_col=0, dtype=csl_types)
csl_df

CPU times: user 1min 7s, sys: 691 ms, total: 1min 7s
Wall time: 1min 7s

,Sitenum,Marital,Education,Insurance,Momage,Parity,Gravidity,Hxlivebirth,Hxmacrosomia,Hxpreterm,Hxstillbirth,HxnumCS,Hxcsection,Preweight,PreBMI,...,Dthdays3,Dthdays4,Admittime,Labonsettime,Triagetime,Fulldilattime,Placenttime,Inducttime,Ripentime,ROMtime,Epiduraltime,Intraantibtime,USdays,LMPdays,onepregflag
MomID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
41-00001,41,1,3,1,34,4,5,4,1,1,9,0,1,54.43,18.79,...,<NA>,<NA>,397,<NA>,397,15,4,361,<NA>,300,343,346,103,271,2
41-00001,41,1,3,1,36,5,6,5,2,1,9,0,1,56.70,19.58,...,<NA>,<NA>,425,<NA>,441,18,3,369,<NA>,251,314,<NA>,128,278,2
41-00002,41,1,3,1,37,1,3,1,1,1,9,1,2,86.18,32.61,...,<NA>,<NA>,216,<NA>,216,<NA>,1,<NA>,<NA>,1,4,<NA>,128,268,1
41-00003,41,1,3,1,36,1,4,1,1,1,9,0,1,62.60,22.27,...,<NA>,<NA>,430,<NA>,430,69,4,382,<NA>,369,364,<NA>,133,273,1
41-00004,41,1,2,1,34,2,6,2,1,1,9,0,1,88.45,30.54,...,<NA>,<NA>,464,<NA>,463,12,5,339,<NA>,105,116,455,204,274,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52-07247,52,8,1,8,19,0,1,0,9,1,9,0,1,106.59,38.22,...,<NA>,<NA>,<NA>,<NA>,<NA>,86,5,1236,471,464,403,<NA>,<NA>,260,1
52-07248,52,8,8,8,34,1,3,1,9,2,9,1,2,NaN,NaN,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,168,1580,<NA>,182,<NA>,<NA>,175,1
52-07249,52,8,8,8,28,3,5,2,9,2,9,1,2,57.15,23.19,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,1
52-07250,52,8,8,8,16,0,1,0,9,1,9,0,1,58.51,22.86,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5,<NA>,<NA>,<NA>,248,<NA>,<NA>,<NA>,1
52-07251,52,8,8,8,44,3,7,3,9,1,9,0,1,79.83,29.32,...,<NA>,<NA>,<NA>,244,<NA>,4,6,244,<NA>,<NA>,13,<NA>,<NA>,212,1

In [5]:
csl_df['Sitenum'].value_counts(sort=False, dropna=False).sort_index()

41    50320
42     6420
43    12637
44    23141
45    20329
46     7877
47    14667
48    18258
49    27869
50    20779
51    18392
52     7749
Name: Sitenum, dtype: int64

In [6]:
tytl_PI['Sitenum'].value_counts(sort=False, dropna=False)

41    42856
42     5858
43     9665
44    16534
45    13246
46     6913
47    13434
48    16088
49    24275
50    13868
51    16060
52     6616
Name: Sitenum, dtype: int64

In [7]:
pd.crosstab(index=csl_df['Sitenum'], columns=csl_df['Posttransfus'])

Posttransfus      1     2      9
Sitenum
41            45719  4601      0
42                0     0   6420
43                0     0  12637
44            22644   497      0
45                0     0  20329
46                0     0   7877
47            14654    13      0
48                0     0  18258
49            27665   204      0
50                0     0  20779
51            18378    13      0
52             7685    64      0

In [8]:
pd.crosstab(index=csl_df['Sitenum'], columns=csl_df['Bloodproduct'])

Bloodproduct      1    2      9
Sitenum
41            50206  114      0
42                0    0   6420
43            12127  510      0
44            22644  497      0
45            20133  196      0
46             7872    5      0
47                0    0  14667
48                0    0  18258
49            27640  229      0
50            20642  137      0
51                0    0  18392
52             7728   21      0

In [9]:
pd.crosstab(index=tytl_PI['Sitenum'], columns=tytl_PI['Intratocolytix'])

Intratocolytix      1    2  3     4    5    6   7      8      9
Sitenum
41              42642  214  0     0    0    0   0      0      0
42                  0    0  0     0    0   34   0   5824      0
43                  0  411  0     0    0    0   0   9254      0
44                  0  259  0     0    0    0   0  16275      0
45                  0    0  0     0    0    0   0      0  13246
46                  0    0  0     0    0    0   0      0   6913
47              13388   46  0     0    0    0   0      0      0
48                  0    0  0     0    0    0   0      0  16088
49                  0    0  7  1128  356  565   0  22219      0
50                  0    0  0     0    0    0   0      0  13868
51                  0    0  5     0    0  693  12  15350      0
52                  0    1  0     0    0  344   0   6271      0

In [10]:
site_tl_df = pd.crosstab(index=tytl_PI['Sitenum'], columns=tytl_PI['trans_loss'], normalize='index')*100
site_tl_df

trans_loss     0    1
Sitenum
41         90.07 9.93
42         95.13 4.87
43         91.51 8.49
44         93.07 6.93
45         94.52 5.48
46         97.28 2.72
47         99.92 0.08
48         98.28 1.72
49         94.76 5.24
50         94.75 5.25
51         99.07 0.93
52         92.62 7.38

In [11]:
site_tl_df['Count'] = tytl_PI['Sitenum'].value_counts(sort=False)
site_tl_df

trans_loss     0    1  Count
Sitenum
41         90.07 9.93  42856
42         95.13 4.87   5858
43         91.51 8.49   9665
44         93.07 6.93  16534
45         94.52 5.48  13246
46         97.28 2.72   6913
47         99.92 0.08  13434
48         98.28 1.72  16088
49         94.76 5.24  24275
50         94.75 5.25  13868
51         99.07 0.93  16060
52         92.62 7.38   6616

In [12]:
site_tl_df.columns

Index([0, 1, 'Count'], dtype='object', name='trans_loss')

In [13]:
site_tl_df.sort_values(by=1, ascending=False)

trans_loss     0    1  Count
Sitenum
41         90.07 9.93  42856
43         91.51 8.49   9665
52         92.62 7.38   6616
44         93.07 6.93  16534
45         94.52 5.48  13246
50         94.75 5.25  13868
49         94.76 5.24  24275
42         95.13 4.87   5858
46         97.28 2.72   6913
48         98.28 1.72  16088
51         99.07 0.93  16060
47         99.92 0.08  13434

In [14]:
pd.crosstab(index=tytl_PI['HosEpiNurse'], columns=tytl_PI['Sitenum'])

Sitenum,41,42,43,44,45,46,47,48,49,50,51,52
HosEpiNurse,,,,,,,,,,,,
0,42856,0,9665,16534,13246,6913,0,0,0,13868,16060,0
1,0,5858,0,0,0,0,13434,16088,24275,0,0,6616

In [15]:
pd.crosstab(index=tytl_PI['trans_loss'], columns=tytl_PI['Sitenum'])

Sitenum,41,42,43,44,45,46,47,48,49,50,51,52
trans_loss,,,,,,,,,,,,
0,38601,5573,8844,15389,12520,6725,13423,15812,23003,13140,15911,6128
1,4255,285,821,1145,726,188,11,276,1272,728,149,488

In [16]:
pd.crosstab(index=tytl_PI['Intratocolytix'], columns=tytl_PI['Sitenum'])

Sitenum,41,42,43,44,45,46,47,48,49,50,51,52
Intratocolytix,,,,,,,,,,,,
1,42642,0,0,0,0,0,13388,0,0,0,0,0
2,214,0,411,259,0,0,46,0,0,0,0,1
3,0,0,0,0,0,0,0,0,7,0,5,0
4,0,0,0,0,0,0,0,0,1128,0,0,0
5,0,0,0,0,0,0,0,0,356,0,0,0
6,0,34,0,0,0,0,0,0,565,0,693,344
7,0,0,0,0,0,0,0,0,0,0,12,0
8,0,5824,9254,16275,0,0,0,0,22219,0,15350,6271
9,0,0,0,0,13246,6913,0,16088,0,13868,0,0

In [17]:
pd.crosstab(index=tytl_PI['DMControl'], columns=tytl_PI['Sitenum'])

Sitenum,41,42,43,44,45,46,47,48,49,50,51,52
DMControl,,,,,,,,,,,,
1,494,0,0,417,0,0,231,0,166,0,0,187
2,247,0,0,0,0,0,0,0,64,0,0,0
3,998,0,0,519,0,0,212,0,147,0,0,290
4,0,173,0,0,0,0,0,0,0,0,0,0
7,41094,5685,0,15037,0,0,12991,0,10,0,0,6139
8,23,0,9665,561,13246,6913,0,16088,23888,13868,16060,0

### Use "out_flag" variable to control whether files are written or not

In [18]:
out_flag = False

from datetime import datetime
datestr = datetime.today().strftime('%Y-%m-%d')

In [19]:
pd.crosstab(index=tytl_PI['trans_loss'], columns=tytl_PI['Sitenum'])

Sitenum,41,42,43,44,45,46,47,48,49,50,51,52
trans_loss,,,,,,,,,,,,
0,38601,5573,8844,15389,12520,6725,13423,15812,23003,13140,15911,6128
1,4255,285,821,1145,726,188,11,276,1272,728,149,488

In [20]:
pd.crosstab(index=tytl_PI['transfus_yes'], columns=tytl_PI['Sitenum'])

Sitenum,41,42,43,44,45,46,47,48,49,50,51,52
transfus_yes,,,,,,,,,,,,
0,38944,5858,9261,16191,13117,6908,13423,16088,24084,13762,16052,6555
1,3912,0,404,343,129,5,11,0,191,106,8,61

In [21]:
pd.crosstab(tytl_PI['Sitenum'], [tytl_PI['trans_loss'], tytl_PI['transfus_yes']], dropna=False)

trans_loss        0        1
transfus_yes      0  1     0     1
Sitenum
41            38601  0   343  3912
42             5573  0   285     0
43             8844  0   417   404
44            15389  0   802   343
45            12520  0   597   129
46             6725  0   183     5
47            13423  0     0    11
48            15812  0   276     0
49            23003  0  1081   191
50            13140  0   622   106
51            15911  0   141     8
52             6128  0   427    61

In [22]:
pd.crosstab(tytl_PI['Sitenum'], tytl_PI['trans_loss'])

trans_loss      0     1
Sitenum
41          38601  4255
42           5573   285
43           8844   821
44          15389  1145
45          12520   726
46           6725   188
47          13423    11
48          15812   276
49          23003  1272
50          13140   728
51          15911   149
52           6128   488

In [23]:
pd.crosstab(tytl_PI['Sitenum'], tytl_PI['transfus_yes'])

transfus_yes      0     1
Sitenum
41            38944  3912
42             5858     0
43             9261   404
44            16191   343
45            13117   129
46             6908     5
47            13423    11
48            16088     0
49            24084   191
50            13762   106
51            16052     8
52             6555    61

# Create data file for high_EBLoss target

In [24]:
he_df = pd.read_csv('/MFMDatasets/MFM_bopf/data/csl/high_EBL.txt', index_col=0)
he_df

          high_EBL
MomID
41-00001         9
41-00001         9
41-00002         9
41-00003         0
41-00004         0
...            ...
52-07247         0
52-07248         0
52-07249         1
52-07250         0
52-07251         0

[228438 rows x 1 columns]

In [25]:
he_tytl_PI = he_df.merge(tytl_PI, left_index=True, right_index=True, how='right')
he_tytl_PI

,high_EBL,transfus_yes,trans_loss,Accrete,AdmBishop,Admcervpos,Admconsistency,Admcontract,AdmDBP,Admefface,Admpresent,AdmSBP,Analgesia,Augment,BESTGA,...,renal_disease_comb,renal_disease9,Rhincompat,Smoke,TD_nos,ThreatenedPB,threatpb9,UnspecHBP,uscar,version9,new_age,new_BMI,new_high_Age,new_high_BMI,Sitenum
MomID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
41-00002,9,0,0,0,8,8,8,99.00,83,0.00,77,150.00,7,1,38.20,...,0,0,0,0,0,0,0,0,1,0,37,33,1,1,41
41-00003,0,0,0,0,6,3,2,2.90,77,70.00,1,105.00,8,88,39.00,...,0,0,0,0,0,0,0,0,0,0,36,22,1,1,41
41-00004,0,0,0,0,5,3,2,3.30,65,70.00,1,122.00,8,88,39.10,...,0,0,0,0,0,0,0,0,0,0,34,31,1,1,41
41-00005,9,1,1,0,11,2,3,4.00,77,80.00,77,138.00,8,88,38.40,...,0,0,0,0,0,0,0,0,0,0,31,21,1,1,41
41-00006,0,0,0,0,11,1,3,5.00,98,100.00,77,134.00,8,88,39.60,...,0,0,0,0,0,0,0,0,0,0,21,22,1,1,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52-07247,0,0,0,0,8,8,8,77.00,74,70.00,1,124.40,5,4,37.10,...,0,0,0,0,0,0,0,0,0,0,19,38,0,1,52
52-07248,0,0,0,0,8,8,8,99.00,74,0.00,2,124.40,5,0,24.60,...,0,0,0,0,0,0,0,0,1,0,34,24,1,1,52
52-07249,1,1,1,0,8,8,8,66.00,74,0.00,77,124.40,9,0,28.70,...,0,0,0,0,0,0,0,0,1,0,28,23,1,1,52
52-07250,0,0,0,0,8,8,8,66.00,74,90.00,1,124.40,5,0,37.40,...,0,0,0,0,0,0,0,0,0,0,16,23,0,1,52
52-07251,0,0,0,0,8,8,8,66.00,74,100.00,1,124.40,5,0,27.90,...,0,0,0,0,0,0,0,0,0,0,44,29,2,1,52

In [26]:
he_tytl_PI = he_tytl_PI[he_tytl_PI['high_EBL'] < 9]
he_tytl_PI

,high_EBL,transfus_yes,trans_loss,Accrete,AdmBishop,Admcervpos,Admconsistency,Admcontract,AdmDBP,Admefface,Admpresent,AdmSBP,Analgesia,Augment,BESTGA,...,renal_disease_comb,renal_disease9,Rhincompat,Smoke,TD_nos,ThreatenedPB,threatpb9,UnspecHBP,uscar,version9,new_age,new_BMI,new_high_Age,new_high_BMI,Sitenum
MomID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
41-00003,0,0,0,0,6,3,2,2.90,77,70.00,1,105.00,8,88,39.00,...,0,0,0,0,0,0,0,0,0,0,36,22,1,1,41
41-00004,0,0,0,0,5,3,2,3.30,65,70.00,1,122.00,8,88,39.10,...,0,0,0,0,0,0,0,0,0,0,34,31,1,1,41
41-00006,0,0,0,0,11,1,3,5.00,98,100.00,77,134.00,8,88,39.60,...,0,0,0,0,0,0,0,0,0,0,21,22,1,1,41
41-00007,0,0,0,0,4,2,2,2.90,105,50.00,77,145.00,7,88,38.00,...,0,0,0,1,0,0,0,0,0,0,42,24,2,1,41
41-00008,0,0,0,0,6,3,2,6.70,71,70.00,77,118.00,8,88,40.50,...,0,0,0,0,0,0,0,0,0,0,33,18,1,0,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52-07247,0,0,0,0,8,8,8,77.00,74,70.00,1,124.40,5,4,37.10,...,0,0,0,0,0,0,0,0,0,0,19,38,0,1,52
52-07248,0,0,0,0,8,8,8,99.00,74,0.00,2,124.40,5,0,24.60,...,0,0,0,0,0,0,0,0,1,0,34,24,1,1,52
52-07249,1,1,1,0,8,8,8,66.00,74,0.00,77,124.40,9,0,28.70,...,0,0,0,0,0,0,0,0,1,0,28,23,1,1,52
52-07250,0,0,0,0,8,8,8,66.00,74,90.00,1,124.40,5,0,37.40,...,0,0,0,0,0,0,0,0,0,0,16,23,0,1,52
52-07251,0,0,0,0,8,8,8,66.00,74,100.00,1,124.40,5,0,27.90,...,0,0,0,0,0,0,0,0,0,0,44,29,2,1,52

In [27]:
he_ty_PI = he_tytl_PI.drop('trans_loss', axis=1)
he_ty_PI

,high_EBL,transfus_yes,Accrete,AdmBishop,Admcervpos,Admconsistency,Admcontract,AdmDBP,Admefface,Admpresent,AdmSBP,Analgesia,Augment,BESTGA,breech,...,renal_disease_comb,renal_disease9,Rhincompat,Smoke,TD_nos,ThreatenedPB,threatpb9,UnspecHBP,uscar,version9,new_age,new_BMI,new_high_Age,new_high_BMI,Sitenum
MomID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
41-00003,0,0,0,6,3,2,2.90,77,70.00,1,105.00,8,88,39.00,0,...,0,0,0,0,0,0,0,0,0,0,36,22,1,1,41
41-00004,0,0,0,5,3,2,3.30,65,70.00,1,122.00,8,88,39.10,0,...,0,0,0,0,0,0,0,0,0,0,34,31,1,1,41
41-00006,0,0,0,11,1,3,5.00,98,100.00,77,134.00,8,88,39.60,0,...,0,0,0,0,0,0,0,0,0,0,21,22,1,1,41
41-00007,0,0,0,4,2,2,2.90,105,50.00,77,145.00,7,88,38.00,0,...,0,0,0,1,0,0,0,0,0,0,42,24,2,1,41
41-00008,0,0,0,6,3,2,6.70,71,70.00,77,118.00,8,88,40.50,0,...,0,0,0,0,0,0,0,0,0,0,33,18,1,0,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52-07247,0,0,0,8,8,8,77.00,74,70.00,1,124.40,5,4,37.10,0,...,0,0,0,0,0,0,0,0,0,0,19,38,0,1,52
52-07248,0,0,0,8,8,8,99.00,74,0.00,2,124.40,5,0,24.60,1,...,0,0,0,0,0,0,0,0,1,0,34,24,1,1,52
52-07249,1,1,0,8,8,8,66.00,74,0.00,77,124.40,9,0,28.70,0,...,0,0,0,0,0,0,0,0,1,0,28,23,1,1,52
52-07250,0,0,0,8,8,8,66.00,74,90.00,1,124.40,5,0,37.40,0,...,0,0,0,0,0,0,0,0,0,0,16,23,0,1,52
52-07251,0,0,0,8,8,8,66.00,74,100.00,1,124.40,5,0,27.90,0,...,0,0,0,0,0,0,0,0,0,0,44,29,2,1,52

In [28]:
he_ty_PI['high_EBL'].value_counts()

0    130727
1      5760
Name: high_EBL, dtype: int64

In [32]:
out_flag = False

from datetime import datetime
datestr = datetime.today().strftime('%Y-%m-%d')
# Write out complete dataset, including Sitenum
filename = 'MFM_CSL_d6_hety_PI_' + datestr + '.csv'
linkname = 'CSL_hety_PI_comp.csv'
if out_flag:
    he_ty_PI.to_csv(filename, header=True)
    if os.path.exists(linkname):
        os.remove(linkname)
    os.symlink(filename, linkname)
else:
    print(f'File not written: {filename}')

In [30]:
he_PI = he_ty_PI.drop('transfus_yes', axis=1)
he_PI

,high_EBL,Accrete,AdmBishop,Admcervpos,Admconsistency,Admcontract,AdmDBP,Admefface,Admpresent,AdmSBP,Analgesia,Augment,BESTGA,breech,breech9,...,renal_disease_comb,renal_disease9,Rhincompat,Smoke,TD_nos,ThreatenedPB,threatpb9,UnspecHBP,uscar,version9,new_age,new_BMI,new_high_Age,new_high_BMI,Sitenum
MomID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
41-00003,0,0,6,3,2,2.90,77,70.00,1,105.00,8,88,39.00,0,0,...,0,0,0,0,0,0,0,0,0,0,36,22,1,1,41
41-00004,0,0,5,3,2,3.30,65,70.00,1,122.00,8,88,39.10,0,0,...,0,0,0,0,0,0,0,0,0,0,34,31,1,1,41
41-00006,0,0,11,1,3,5.00,98,100.00,77,134.00,8,88,39.60,0,0,...,0,0,0,0,0,0,0,0,0,0,21,22,1,1,41
41-00007,0,0,4,2,2,2.90,105,50.00,77,145.00,7,88,38.00,0,0,...,0,0,0,1,0,0,0,0,0,0,42,24,2,1,41
41-00008,0,0,6,3,2,6.70,71,70.00,77,118.00,8,88,40.50,0,0,...,0,0,0,0,0,0,0,0,0,0,33,18,1,0,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52-07247,0,0,8,8,8,77.00,74,70.00,1,124.40,5,4,37.10,0,0,...,0,0,0,0,0,0,0,0,0,0,19,38,0,1,52
52-07248,0,0,8,8,8,99.00,74,0.00,2,124.40,5,0,24.60,1,1,...,0,0,0,0,0,0,0,0,1,0,34,24,1,1,52
52-07249,1,0,8,8,8,66.00,74,0.00,77,124.40,9,0,28.70,0,0,...,0,0,0,0,0,0,0,0,1,0,28,23,1,1,52
52-07250,0,0,8,8,8,66.00,74,90.00,1,124.40,5,0,37.40,0,0,...,0,0,0,0,0,0,0,0,0,0,16,23,0,1,52
52-07251,0,0,8,8,8,66.00,74,100.00,1,124.40,5,0,27.90,0,0,...,0,0,0,0,0,0,0,0,0,0,44,29,2,1,52

In [33]:
out_flag = False
# Write out complete dataset, including Sitenum
filename = 'MFM_CSL_d6_highEBL_PI_' + datestr + '.csv'
linkname = 'CSL_he_PI_comp.csv'
if out_flag:
    he_PI.to_csv(filename, header=True)
    if os.path.exists(linkname):
        os.remove(linkname)
    os.symlink(filename, linkname)
else:
    print(f'File not written: {filename}')