In [ ]:
# Requires at least Python 3.6, I believe
import sys
print(sys.version)

In [ ]:
# Requires at least Pandas 0.24.1
import pandas as pd
print(pd.__version__)

In [ ]:
# Hard-coded path name: Change for different machines.
csl_df = pd.read_sas('/home/mbopf/MFMDatasets/CSL_StudyItems/CSLDatasets/csllinkedbypreg.sas7bdat', format = 'sas7bdat', encoding='iso-8859-1')
csl_df.head()

In [ ]:
csl_df.dtypes

In [ ]:
# Convert any non-float fields to IntegerArray (Int)
# Note than IntegerArrays are an experimental addition in Pandas 0.24. They
# allow integer columns to contain NaN fields like float columns.
#
# This is a rather brute-force technique that loops through every column
# and every row. There's got to be a more efficient way to do it since it 
# takes a long time and uses up a lot of memory.
def convert_to_integer (df):
    for col in df.columns:
        intcol_flag = True
        if df[col].dtype == 'float64':   # Assuming dtype is "float64"
            # If not NaN and the int() value is different from
            # the float value, then we have an actual float.
            # s = df[col].apply(lambda x: pd.notnull(x) and abs(x - int(x)) > 1e-6)
            s = df[col].notnull() & df[col].sub(df[col].round()).abs().gt(1e-6)
            if s.any():
                intcol_flag = False
            # If not a float, change it to an Int based on size
            if intcol_flag:
                if df[col].abs().max() < 127:
                    df[col] = df[col].astype('Int8')
                elif df[col].abs().max() < 32767:
                    df[col] = df[col].astype('Int16')
                else:   # assuming no ints greater than 2147483647 
                    df[col] = df[col].astype('Int32') 
#        print(f"{col} is {df[col].dtype}")
    return df

In [ ]:
%%time
df = convert_to_integer(csl_df)

In [ ]:
csl_df.dtypes

In [ ]:
csl_df.to_csv('/home/mbopf/MFMDatasets/CSL_StudyItems/mbopf/csl_all.csv')

In [1]:
import pandas as pd
df = pd.read_csv('/home/mbopf/MFMDatasets/CSL_StudyItems/mbopf/csl_all.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (757,761) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df.head()

,Unnamed: 0,Sitenum,MomID,Marital,Education,Insurance,Momage,Parity,Gravidity,Hxlivebirth,...,Fulldilattime,Placenttime,Inducttime,Ripentime,ROMtime,Epiduraltime,Intraantibtime,USdays,LMPdays,onepregflag
0,0,41,41-00001,1,3,1,34,4,5,4,...,15.0,4.0,361.0,NaN,300.0,343.0,346.0,103.0,271.0,2
1,1,41,41-00001,1,3,1,36,5,6,5,...,18.0,3.0,369.0,NaN,251.0,314.0,NaN,128.0,278.0,2
2,2,41,41-00002,1,3,1,37,1,3,1,...,NaN,1.0,NaN,NaN,1.0,4.0,NaN,128.0,268.0,1
3,3,41,41-00003,1,3,1,36,1,4,1,...,69.0,4.0,382.0,NaN,369.0,364.0,NaN,133.0,273.0,1
4,4,41,41-00004,1,2,1,34,2,6,2,...,12.0,5.0,339.0,NaN,105.0,116.0,455.0,204.0,274.0,1

In [3]:
df = pd.read_csv('/home/mbopf/projects/MaternalFetal/src/csl_Int.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (234,235,236,237,239,757,761) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,Unnamed: 0,Sitenum,MomID,Marital,Education,Insurance,Momage,Parity,Gravidity,Hxlivebirth,...,Fulldilattime,Placenttime,Inducttime,Ripentime,ROMtime,Epiduraltime,Intraantibtime,USdays,LMPdays,onepregflag
0,0,41,41-00001,1,3,1,34.0,4,5.0,4.0,...,15.0,4.0,361.0,NaN,300.0,343.0,346.0,103.0,271.0,2
1,1,41,41-00001,1,3,1,36.0,5,6.0,5.0,...,18.0,3.0,369.0,NaN,251.0,314.0,NaN,128.0,278.0,2
2,2,41,41-00002,1,3,1,37.0,1,3.0,1.0,...,NaN,1.0,NaN,NaN,1.0,4.0,NaN,128.0,268.0,1
3,3,41,41-00003,1,3,1,36.0,1,4.0,1.0,...,69.0,4.0,382.0,NaN,369.0,364.0,NaN,133.0,273.0,1
4,4,41,41-00004,1,2,1,34.0,2,6.0,2.0,...,12.0,5.0,339.0,NaN,105.0,116.0,455.0,204.0,274.0,1